*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
  scroll-behavior: smooth;
}

section{
  height: 100vh;
  width: 100%;
}

body{
 /* background-color: #e61010;*/
  background-color: #fff;
}

/*  Navigation start */
.headnav{
  position: fixed;
  z-index: 1;
  width: 100%;
}
.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 0 5vw;
}

.logo{
    font-size: 1.5em;
}

.logo a{
    color: #252525;
    font-size: 2rem;
    font-weight: 700;
}

.navul ul{
    display: flex;
}

.navul a {
    color: #252525;
    display: block;
    padding: 1rem;
    font-weight: 500;
}

.navul a:hover{
  background-color: #dfdfdf;
}

.active-button{
  position: absolute;
  top: .5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  
}

.active-button .lines{
  height: 3px;
  width: 100%;
  background-color: #e4e4e4;
  border-radius: 10px;
  
}

@media only screen and (max-width:600px){ 
  
  .navdiv{
    flex-direction: column;
    align-items: flex-start;
  }

  .active-button{
    display: flex;
  }
  
  .navul{
    display: none;
    width: 100%;
  }

  .navul ul{
    flex-direction: column;
    width: 100%;
  }
  
  .navul li{
    text-align: center;

  }

  .navul li a{
    padding: .5rem 1rem;
  }
  /* This line will be responsible in javascript in activating*/
  .navul.active{
    display: flex;
  }  

}

/*  Navigation end */

/* Home Section START*/

button{
  padding: 1.5ch;
  width: 95%;
}

.home{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.home_content{
  display: flex;
  justify-content:center;
  align-items: stretch;
  padding: 12%;
}

.home_left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #f1f1f1;
  margin-right: 2%;
}

.home_left h1{
  font-size: clamp(20px, 5vw, 75px) ;
  color: #202020;
  font-weight: 600;
}

.home_left p{
  font-size: clamp(12px, 2vw, 30px);
  margin: 1ch 0 ;
  color: #202020;
}

.home_button{
  
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home_button a{
  width: 100%;
}

.rent{
  background-color: #202020;
  color: #e4e4e4;
  border: 1px solid #202020;
  font-size: clamp(10px,1vw,30px);
  font-weight: 800;
}

.view{
  background-color: #f1f1f1;
  color: #202020;
  border: 1px solid #202020;
  font-size: clamp(10px,1vw,30px);
  font-weight: 800;
}

.home_right{
  width: 100%;
  background-color: #e4e4e4;
  margin-left: 2%;
}

.home_right img{
  width: 100%;
  height: 100%;
  left: -9%;
  bottom: -5%;
  position: relative;
}

@media only screen and (max-width:600px) {
  button{
    width: 95%;
    padding: 1ch;
  }

  .home{
    height: fit-content ;
    padding-bottom: 10px;
  }

  .home{
    align-items: flex-start;
    padding-top: 30px;
  }

  .home_button {
    justify-content: space-between;
  }
  
  .home_left h1{
    /*font-size: 7vw;*/
    margin-top: .5ch;
  }

  .home_left p{
    /*font-size: 4vw;*/
    text-align: center;
    max-width: 30ch;
    text-align: start;

  }

  .home_right{
    margin: 0;
    display:flex;
    justify-content: center;
  }
  .home_right img{
    object-fit: fill;
  }
  .home_content{
    padding: 5vw;
  }
  
}

/*==========================================*/
@media only screen and (max-width:800px){
  
  
}

/* Home Section END*/

/* Car Section START*/
.car{
    display: flex;
    justify-content: center;
    align-items: center;
}

.car_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #202020;
}

.car_wrapper h1{
  font-size: clamp(20px, 5vw, 75px) ;
  color: #e4e4e4;
  font-weight: 600;
}

.car_card_holder{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh;
    /*background-color: #165538;*/
    margin: 5vh 0;
}
.car_card{
    background-color: #e4e4e4;
    border-radius: 15px;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.5);
}

.car_card img{
    width: 25vw;
    height: 60%;
    object-fit:fill;
    background-color: white;
}

.car_text{
    padding: clamp(2px, 1vw, 30px);
}

.car_text h3{
  font-size: clamp(15px, 1.8vw , 30px);
}

.car_text p{
    padding: .2vw 0;
    font-size: clamp(12px, 1.5vw  , 20px);
    color: #292828;
}

.car_button{
    width: 20vw;
    min-width: 200px;
    padding: 2ch;
    border-radius: 20px;
    background-color: #e4e4e4;
    border-style: none;
    color: #202020;  
    font-weight: 800;
    font-size: clamp(10px, 1vw, 30px);
}



@media only screen and (max-width:1000px){
  .car_wrapper{
    justify-content:space-evenly;
    padding-top: 30px;
  }

  .car_card_holder{
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10vw;
    height: 70vh;
    margin: 0;
  }
  
  .car_card{
    display: flex;
    margin: 2vh 0;
    
  }

  .car_card img{
    height: 20vh;
    width: 40%;
    object-fit: scale-down;
  }

  .car_text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

}
/* Car Section END*/

/* About us Start*/
.about_us{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
}

.about_us_wrapper{
  display: flex;
  height: 70%;
  width: 70vw;
}

.about_us_left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 0 clamp(2px, 2vw, 30px);
}

.about_us_left h2{
    font-size: clamp(15px, 3vw + 1rem, 100px);  
}

.about_us_left article{
  text-align: justify;
  font-size: clamp(12px, 1.5vw , 30px);  
  padding-bottom: clamp(5px, 1.5ch, 20px);   
}

.about_us_right{
  width: 50%;
}
.about_us_right img{
  height: 100%;
  width: 100%;
  object-fit:cover;
}
@media only screen and (max-width:600px){
  .about_us_wrapper{
    flex-direction: column;
    width: 80%;
    height: 90%;
    justify-content: center;
    align-items: center;
  }
  .about_us_left{
    width: 100%;
  }
  .about_us_right{
    width: 100%;
  }
  .about_us_left h2{
    text-align: center;
    margin-bottom: 2ch;
  }
  
}

/* About us End*/


/* Contact us START*/
.contact_us{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.contact_us_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  min-width: 550px;
}

.contact_us_wrapper h1{
  font-size: clamp(20px, 5vw, 75px) ;
  color: #202020;
  font-weight: 600; 
}

.contact_us_content{
  display: flex;
  

}

.contact_us_content img{
 filter: grayscale(100%); 
}

.envelop{
  width: 50%;
} 

.sub{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100%;
}

.sub input{
  width: 60%;
  margin: 1% 0;
  min-width: 200px;
}

.cu_text{
  padding: 1.5ch;
  border-radius: 10px;
  border-style: solid;
}

.cu_phar{
  height: 20ch;
  border-radius: 10px;
  border: 2px solid #757575;
  width: 60%;
  min-width: 200px;
  margin: 1% 0;
  padding: 1.5ch;
  resize: none;
}

.cu_sub{
  padding: 2ch;
  border-radius: 20px;
  border-style: none;
  background-color: #202020;
  color: #e4e4e4;
  font-weight: 800;
  width: 20vw;
}

.submit_section{
    font-size: clamp(20px, 5vw, 75px) ;
    font-weight: 600;
    border-left: 1px solid #000;  
    width: 100%;
}

@media only screen and (max-width:600px){
  
  .contact_us_content img{
    display:none;
  }
  .contact_us_content{
    width: 80%;
  }
  .contact_us_wrapper{
    width: 100% ;
    height: 100vh;
    padding: 10vh 0;
    min-width: 0px;
  }

  .contact_us_wrapper h1{
    margin-bottom: 2ch;
  }

  .submit_section{
    border-left-color: #f1f1f1;
    width: 100%;
  }

  .sub{
    width: 100%;
  }
  .sub input{
    width: 100%;
    padding: 1.5ch;
    min-width: 0px;
  }
  .cu_phar{
    width: 100%;
    min-width: 0px;
  }

  .envelop{
    min-width: 0px;
  }
}

/* Contact us END*/