*{  
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:sans-serif ;
}


body{
    height: 100vh;
    width: 100%;
}

.navbar{
    position: fixed;
    width: 100%;
    background-color: rgb(197, 196, 196);
    padding: 20px 50px;
    z-index: 999;
    text-align: center;
    
}


.navdiv{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.navdiv a{
    color: black;
}


.logo a{
    font-size:30px;
    font-weight: 600;
    
}

.navdiv ul li{
    list-style: none;
    display: inline-block;
    padding-left: 80px;
    font-weight: 200;
}

/* Section Hero*/

section{
    height: 100vh;
    width: 100%;
}

.hero{
   /*background-color: blueviolet;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_main_div{
    display: flex;
    justify-content: space-between;
    position: absolute;
    /*background-color: black;*/
   
}

.sec1leftcontent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
  /*  background-color: aquamarine;*/
    width: 45%;
}

.bigtext{
    font-size: 60px;
}

.smalltext{
    font-size: 25px;
}

button{
    padding: 15px;
    width: 190px;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    font-weight: 600;
}

.reserve {
    background-color: black;
    color: azure;
    
}

.view{
    background-color: white;
    color: black;
}

.sec1buttons{
    display: flex;
    justify-content: space-between;
}


.sec1rightcontent{
    /*background-color: brown; */
    margin:20px;
    width: 45%;
}
.shape{
    background-color: rgb(197, 196, 196);
}
.shape img{
    position: relative;
    right: 55px;
    top: 25px;
    height: 300px;
}

/* Section Hero DONE*/

/* Section Car*/
.car{
    position: relative;
    /*background-color:black;*/
}

.car_main_div{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*background-color: blueviolet;*/


}

.car_title{
    position: relative;
    width: 100%;
    text-align: center;
    /*background-color: blue;*/
    padding-top: 3%;
    font-size: 40px;

}

.car_bg{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    height: 30%;
    width: 100%;
    background-color:rgb(197, 196, 196);

}

.car_content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 150%;
    width: 25%;
    border-radius: 20px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    margin: 10px;
}

.car_img img{
    position: relative;
    width: 100%;
    border-radius: 20px 20px 0 0  ;
    
}

.car_txt{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    padding: 5% 5%;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    /*background-color: cadetblue;*/
}
.car_content p{
    padding: 1%;
}
.car_button button{
    border-radius: 40px;
    background-color: rgb(0, 0, 0) ;
    color: white;
    border: none;
    font-size: small;
}

.car_button{
    position: relative;
    display: flex;
    justify-content: center;
}
/* Section Car DONE*/

/* About us start*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: aquamarine;*/
}

.about_content{
    display: flex;
    justify-content: space-around;
    margin:20%;
    /*background-color: bisque;*/
}

.about_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    

}

.about_text h1{
    font-size: 60px;
    font-weight: 400;
    margin: 10px;
}

.about_text p{
    font-size: 25px;
    margin: 10px;
}

.about_img{
    margin: 10px;    
}

.about_img img{
    height: 100%;
    width: 100%;
}
/*about us done */

/*contact section*/
input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
}


.contact_content{
  /*  background-color: aqua;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact_content h1{
    margin-bottom: 20px;
}

.contact_div{
    display: flex;
    justify-content: start;
    height: 50%;
    width: 50%;
    /*background-color: blueviolet;*/
}

.contact_img{
    /*background-color: chocolate;*/
    width: 50%;
    border-right: 1px solid black;

}

.contact_img img{
    height: 100%;
}

.contact_up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: cadetblue; */
    margin-left: 80px;
}

.contact_msg{
    padding-bottom: 70px;
}

.contact_submit{
    border-radius: 20px;
    background-color:black;
    color: white;
    border: none;
    margin: 5px;
    padding: 15px 50px;
}

.contact_LN, .contact_FN,.contact_email,.contact_msg{
    margin:5px;
    width: 300px;
}
/*contact us done*/