*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

section{
  height: 100vh;
  width: 100%;
}

body{
  background-color: #000;
}

/*  Navigation start */
.headnav{
  position: fixed;
  z-index: 1;
  width: 100%;
}
.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292828;
}

.logo{
    font-size: 1.5em;
    margin: .5rem;
}

.logo a{
    color: #e4e4e4;
    font-size: 1.5rem;
}

.navul ul{
    display: flex;
}

.navul a {
    color: #e4e4e4;
    display: block;
    padding: 1rem;
}

.navul a:hover{
  background-color: #414141;
}

.active-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  
}

.active-button .lines{
  height: 3px;
  width: 100%;
  background-color:#e4e4e4;
  border-radius: 10px;
  
}

@media only screen and (max-width:600px){ 
  
  .navdiv{
    flex-direction: column;
    align-items: flex-start;
  }

  .active-button{
    display: flex;
  }
  
  .navul{
    display: none;
    width: 100%;
  }

  .navul ul{
    flex-direction: column;
    width: 100%;
  }
  
  .navul li{
    text-align: center;
  }

  .navul li a{
    padding: .5rem 1rem;
  }
  /* This line will be responsible in javascript in activating*/
  .navul.active{
    display: flex;
  }  

}

/*  Navigation end */

/* Car Section START*/

button{
  padding: 1vw;
  width: 48%;
}

.car{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.car_content{
  display: flex;
  justify-content:center;
  align-items: stretch;
  padding: 12%;
}

.car_left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color:#f2f2f2;
  margin-right: 2%;
}

.car_left h1{
  font-size: 5vw;
}

.car_left p{
  font-size: 3vw;
  margin: 1ch;
}

.car_button{
  
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.rent{
  background-color: #0c0c0c;
  color: #f2f2f2;
  border: 1px solid #0c0c0c;
}

.view{
  background-color: #f2f2f2;
  color: #0c0c0c;
  border: 1px solid #0c0c0c;
}

.car_right{
  width: 100%;
  background-color: #e4e4e4;
  margin-left: 2%;
}

.car_right img{
  width: 100%;
  position: relative;
  left: -9%;
  bottom: -15%;
}


@media only screen and (max-width:600px) {
  section{
    height:fit-content;
    padding-bottom: 10px;
  }

  button{
    padding: 2vw;
    width: 35vw;
  }

  .car{
    align-items: flex-start;
    padding-top: 30px;
  }

  .car_button {
    justify-content:space-evenly;
  }
  
  .car_left h1{
    font-size: 7vw;
    text-align: center;
    margin-top: .5ch;
  }

  .car_left p{
    font-size: 4vw;
    text-align: center;
  }

  .car_right{
    margin: 0;

  }
  .car_right img{
    position: static;
  }
  .car_content{
    flex-direction: column-reverse;
    padding: 0;
  }
  
}

/*==========================================*/
@media only screen and (max-width:800px){
  
  
}

/* Car Section END*/
