*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
 /* background-color: #e61010;*/
  background-color: #fff;
}

section{
  padding-top: 50px;
}

/*  Navigation start */
.headnav{
  position: fixed;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}
.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 0 5vw;
}

.logo img{
  height: 40px;
}

.navul ul{
    display: flex;
}

.navul a {
    color: #252525;
    display: block;
    padding: 1rem;
    font-weight: 500;
    transition: all 0.1s ease-out;
}

.navul a:hover{
  background-color: #dfdfdf;
  transform:scale(1.1);
  transition: all 0.1s ease-in;
}

.active-button{
  position: absolute;
  top: .5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  
}

.active-button .lines{
  height: 3px;
  width: 100%;
  background-color: #202020;
  border-radius: 10px;
  
}

.navul li:nth-child(5){
  display: none;
}

.manage_booking{
  padding:  1ch 2ch;
  width: fit-content;
  color: #1b1b1b;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  background-color: #777777;
  transition: all 0.1s ease-out;
}

.manage_booking:hover{
  background-color:#202020 ;
  color: #dfdfdf;
  transform: scale(1.1);
  transition: all 0.1s ease-in;
}

@media only screen and (max-width:600px){ 
  
  .navdiv{
    flex-direction: column;
    align-items: flex-start;
  }

  .active-button{
    display: flex;
  }
  
  .navul{
    display: none;
    width: 100%;
  }

  .navul ul{
    flex-direction: column;
    width: 100%;
  }
  
  .navul li{
    text-align: center;

  }

  .navul li a{
    padding: .5rem 1rem;
  }
  /* This line will be responsible in javascript in activating*/
  .navul.active{
    display: flex;
  }  

  .manage_booking{
    display: none;
  }

  .navul li:nth-child(5){
    display: block;
  }

}

/*  Navigation end */

/* Home Section START*/

button{
  padding: 1ch;
  width: 200px;
  min-width: 100px;
}

.home{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.home_content{
  display: flex;
  justify-content:center;
  align-items: stretch;
  padding: 12%;
}

.home_left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #f1f1f1;
  margin-right: 2%;
}

.home_left h1{
  font-size: clamp(20px, 5vw, 75px) ;
  color: #202020;
  font-weight: 600;
}

.home_left p{
  font-size: clamp(12px, 2vw, 30px);
  margin: 1ch 0 ;
  color: #202020;
}

.home_button{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home_button a{
  width: fit-content;
}

.rent{
  background-color: #202020;
  color: #e4e4e4;
  border: 1px solid #202020;
  font-size: clamp(10px,1vw,30px);
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.rent:hover{
  transform: scale(1.1);
  background-color: #e4e4e4;
  color: #202020;
  transition: all 0.1s ease-in;
}

.home_right{
  width: 100%;
  background-color: #e4e4e4;
  margin-left: 2%;
}

.home_right img{
  width: 100%;
  height: 100%;
  left: -9%;
  bottom: -5%;
  position: relative;
}

.why{
  height: fit-content;
  background-color: #e4e4e4;
}

.why_wrapper{
  padding: 50px 30px ;
 
}

.why_wrapper h2{
  text-align: center;
  margin-bottom: 30px;
}

.why_content{
  display: flex;
  padding: 10px;
}

.home_card{
  display: flex;
  margin: 0 5px;
}

.home_card img{
  object-fit: scale-down;
  margin: 5px;
}

.home_card_info{
  margin: 5px;
}

.home_card_info h4{
    margin-bottom: 20px;
}

@media only screen and (max-width:600px) {
 
  .home{
    height: fit-content ;
    padding-bottom: 10px;
  }

  .home{
    align-items: flex-start;
    padding-top: 30px;
  }

  .home_button {
    justify-content: space-between;
  }
  
  .home_left h1{
    /*font-size: 7vw;*/
    margin-top: .5ch;
  }

  .home_left p{
    /*font-size: 4vw;*/
    text-align: center;
    max-width: 30ch;
    text-align: start;

  }

  .home_right{
    margin: 0;
    display:flex;
    justify-content: center;
  }
  .home_right img{
    object-fit: fill;
  }
  .home_content{
    padding: 5vw;
  }
  
  .why_content{
    flex-direction: column;
  }

  .home_card{
    margin: 5px;
  }
}



/* Home Section END*/

/* Car Section START*/

.upper_title{
  padding: 3ch;
  width: 100%;
  text-align: center;
  background-color: #777777;  
}

.car{
  height: fit-content;
}

.car_content{
  /*background-color: yellow;*/
  margin: 20px;
}

.car_card_holder{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 30px;
  /*background-color: blue;*/
  
}

.car_card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 5px;
  background-color: #f1f1f1;
  align-items: center;
}

.car_img{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  height: 40%;
}

.car_img img{
 max-width: 100%;
}

.car_card p{
  font-size: 14px;
  margin-bottom: 10px ;
}

.car_info{
  padding: 20px;
  padding-bottom: 0;
}

.car_card button{
  margin: 10px 20px;
  width: 200px;
  min-width: 150px;
  border-radius: 5px;
  border-style: none;
  font-size: 12px;
  background-color: #202020;
  color: #e4e4e4;
  transition: all 0.1s ease-in;
}


.car_card button:hover{
  transform: scale(1.1);
  transition: all 0.1s ease-in;
  background-color: #777777;
  color: #202020;
}

/* Car Section END*/
@media only screen and (max-width:800px){

  .car_card_holder{
    grid-template-columns: repeat(2, 1fr);
    gap:20px ;
  }

  .car_content{
    margin: 0; 
  }

  .car_info{
    padding: 30px;
  }

  .car_card{
    width: 100%;
    margin: 10px 0;
  }

  .car_img img{
    max-width: 70%;
  }
  .car_card button{
    margin: 20px 30px;
  }

}
@media only screen and (max-width:600px){
  .car_card_holder{
    grid-template-columns: repeat(1, 1fr);
    gap:20px ;
  }
}
/* About us Start*/
.about_us{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.about_us_background{
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('pics/about\ us\ puc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(2px);
}

.about_us_wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about_content{
  position: relative;
  display: flex;
  height: 100%;

}

.about_us_left{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.about_us_left article{
  width: 50%;
  min-width: 250px;
  text-align: center;
  font-size:large;
  padding-bottom: clamp(5px, 1.5ch, 20px);  
  color: #dfdfdf;
  text-align: justify;
}

.about_us_left h2{
    font-size: clamp(15px, 3vw + 1rem, 100px);  
}

@media only screen and (max-width:600px){

  section{
    padding-top: 40px;
  }
  
  .about_us_wrapper{
    position: relative;
    width: 100%;
    margin-top: 0;
  }

}
/* About us End*/


/* Contact us START*/
.contact_us{
  position:relative;
  height: fit-content;
  width: 100%;
}

.contact_us_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 550px;
}

.contact_us_wrapper h1{
  font-size: clamp(20px, 5vw, 75px) ;
  color: #202020;
  font-weight: 600; 
}

.contact_us_content{
  position: relative;
  display: flex;
  width: 100%;
  margin :10px 0;
  justify-content: center;
}


.sub{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 90%;
}

.sub_mini{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.sub input{
  margin: 1% 0;
  min-width: 200px;
  margin-bottom: 10px;
}

.sub label{
  margin: 1% 0;
  min-width: 200px;
  width: 100%;
  text-align: start;
  font-size: small;
}

.cu_text{
  padding: 1ch;
}

.cu_phar{
  height: 20ch;
  min-width: 200px;
  margin: 1% 0;
  padding: 1.5ch;
  resize: none;
}

.cu_sub{
  padding: 1.5ch;
  border-radius: 20px;
  border-style: none;
  background-color: #202020;
  color: #e4e4e4;
  font-weight: 500;
  font-size: clamp(10px, 1vw, 30px);
  transition: all 0.1s ease-in;
}

.cu_sub:hover{
  transform: scale(1.1);
  transition: all 0.1s ease-in;
}

.submit_section{
    font-weight: 600;
    border-left: 1px solid #000;  
    width: 50%;
    text-align: center;
}

.submit_section h3{
  padding-bottom: 20px;
}

.contact_info{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.popup_wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% + 20px);
  top: -10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility:hidden;
  transition: none ; 
}

.popup_on{
  visibility: visible;
}

.popup_holder{
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #757575;*/
  width: 100%;
}

.popup{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  min-width: 250px;
  background-color: white;
  padding: 50px;
  align-items: center;
  border-radius: 20px;
}

.popup h3{
  text-align: center;
  margin-bottom: 20px;
}
.popup p{
  font-size: small;
}

.popup button{
  margin-top: 20px;
  background-color: #188d2b;
  border: none;
  border-radius: 5px;
}

@media only screen and (max-width:600px){

  .contact_us{
    height: fit-content;
    
  }

  .contact_info{
    margin-top: 20px;
    width: 80%;
    padding: 0;
  }

  .contact_us_content{
    flex-direction:column-reverse;

    align-items: center;
  }
  .contact_us_wrapper{
    position: relative;
    width: 100% ;
    height: fit-content;
    min-width: 0px;
  }

  .submit_section{
    border-left: 1px solid #fff; 
    margin-top: 2ch;
    width: 80%;
  }

  .contact_con{
    margin-bottom: 5px;
  }

  .sub_mini{
    width: 100%;
  }
}

/* Contact us END*/

/* footer START*/
.pagefooter{
    display: flex;
    flex-direction: column;
    background-color: #202020;
    color:#e4e4e4 ;
    
}

.pagefooter a{
    color:#757575 ;  
    font-size: small;
}

.pf_upper{
    display: flex;
    padding: 5ch;
    justify-content: space-around;
    flex-wrap:wrap;
}

  .pf_col{
    display: flex;
    flex-direction: column;
  }

  .pf_titles{
    text-align: center;
    margin-bottom: 10px;
  }

  .pf_logo{
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .pf_col h5{
    padding: 10px 0;
  }

  .pf_col a{
    align-items: center;
    margin-bottom: 5px;
  }

  .pf_icon{
    height: 15px;
    margin-right: 5px;
  }

  .pf_mini{
    display: flex;
    font-size: small;
    color: #757575;
    margin-bottom: 5px;
  }

  .pf_lower p{
    text-align: center;
    background-color: #161616;
    color: #757575;
    font-size: small;
  }
/* footer END*/

/*reserved START */
  .reserve{
    height: fit-content;
  }

  /* this is from js*/
.reserve_infos{
  width: 300px;
  background-color: #e4e4e4;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 5px;

}

.reserve_know{
  padding: 10px;
}

.reserve_know p{
  margin-bottom: 15px;
}

.reserve_know h3{
  margin-bottom: 20px;
}

.reserve_car{
    width: 100%;
}

.reserved_form_wrapper{
  width: 50%;
  box-shadow: 1px 1px 5px;
}

.reserved_form_wrapper h3{
  margin-top: 10px ;
  margin-bottom: 20px;
  text-align: center;
  color: #757575;
}

.reserve_content{
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.reserve_form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.reserve_text{
  flex-grow: 0; /* Do not allow the div to grow */
  flex-shrink: 0; /* Do not allow the div to shrink */
  flex-basis: calc(50% - 5px); /* Set the initial size of the div */
  margin-bottom: 20px;
}

.reserve_text input{
  width: 90%;
  padding: 1ch;
}

.reserve_form label{
  font-weight: 600;
  font-size: small;
  width: 100%;
}

.reserve_photo_holder{
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.reserve_form input[type = "submit"]{
  padding: 1ch;
  width: 100%;
  background-color: #202020;
  border: none;
  color: #e4e4e4;
  margin-top: 50px;
  transition: all 0.1 ease-in;
  border-radius: 5px;
}

.reserve_form input[type = "submit"]:hover{
  background-color: #757575;
  color: #202020;
  transform: scale(1.02);
  transition: all 0.1 ease-in;
}

/* This code will remove the up and down arrow in number */
input.no-arrows::-webkit-inner-spin-button,
input.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width:600px){
  .reserve_text{
    flex-basis:auto;
    width: 100%;
  }
}

@media only screen and (max-width:800px){
  
  .reserved_form_wrapper{
    width: 90%;
  }

  .reserve_content{
    flex-direction: column;
    align-items: center;
  }

  .reserve_infos{
    width: 90%;
    margin-bottom: 50px;
    margin-left: 5%;
  }


  .reserve_infos img{
    width: 70%;
  }

}
/*reserved END */

/* manage START*/
.manage{
  height: fit-content;
  width: 100%;
}  

.manage_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.manage_pic{
  width: 40%;
  min-width: 200px;
}

.manage_pic img{
  width: 100%;
}

.manage_form_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 200px;
  margin-bottom: 20px;
}

.manage_form_wrapper h3{
  margin: 20px 0;
  text-align: center;
}

.manage_form_wrapper p{
  text-align: center;
  font-size: small+1px;
  margin-bottom:20px;
  
}

.manage_form{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.manage_form p{
  font-size: small;
  width: 90%;
  text-align: start;
  color: #757575;
}

.manage_form input{
  width: 90%;
  padding: 1ch;
}

.manage_form label{
  font-weight: 600;
  font-size: small;
  width: 90%;
}

.manage_form input[type = "submit"]{
  border-radius: 5px;
  border: none;
  background-color: #188d2b;
  color: #e4e4e4;
  transition: all 0.3 ease-in;
}

.manage_form input[type = "submit"]:hover{
  transform: scale(1.1);
  transition: all 0.3 ease-in;
}

/* manage END*/

/* checkout START*/

.checkout{
  height: 100vh;
  width: 100%;
}

.checkout_wrapper{
  height: 100%;
 /* background-color: #188d2b;*/
}

.checkout_content{
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: blue ;*/
  height: 90%;
}



.checkout_card{
  background-color: #ffffff;
  max-width: 250px;
  min-width: 150px;
  padding: 20px;
  height: fit-content;
  box-shadow: 1px 1px 5px;
  margin: 10px;
  border-radius: 5px;
}

.checkout_title h3{
  margin-bottom: 20px;
}

.checkout_title p{
  font-size: small;
}

.checkout_form{
  display: flex;
  flex-direction: column;
}

.checkout_form input[type = "number"]{
  font-size: medium;
  padding: 1ch;
  margin: 20px;
  width: 100%;
  align-self: center;
}

.checkout_form input[type = 'submit']{
  padding: 1ch;
  border-radius: 5px;
  border: none;
  background-color: #188d2b;
}

.checkout_form input[type = 'submit']:hover{
  transform: scale(1.1);
}


input.digit_input::-webkit-inner-spin-button,
input.digit_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* checkout END*/

/* rent START*/

.confirm{
  height: fit-content;
  width: 100%;
}

.confirm_wrapper{
  height: fit-content;
}

.confirm_content{
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: violet;*/
  height: 100%;
}

.confirm_check{
  display: flex;
  /*background-color: red;*/
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin: 20px 10px;

}

.confirm_info{
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 50%;
  align-items: center;
}

.color_green{
  color: #1dad35;
  font-weight: 500;
}

.confirm_card{
  min-width: 280px;
  /*background-color: #188d2b;*/
  margin: 10px;
  padding: 20px;
  padding-top: 5px;
  width: 50%;
}

.confirm_card_2{
  display: block;
  min-width: 280px;
  background-color: #188d2b;
  margin: 10px;
  padding: 20px;
  padding-top: 5px;
}

.confirm_card_title{
  text-align: center;
}

#confirm_card_infos{
  min-width: 280px;
  /*background-color: #188d2b;*/
  margin-top: 20px;
  width: 100%;
}

.confirm_card_info{
  width: 100%;
}
.confirm_card_info p{
  margin: 10px 0;
}

.confirm_payment{
  height: fit-content;
  width: 100%;
  margin-top: 20px;

}

.confirm_logo_holder{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e4e4e4;
  width: 100%;
}

.logo_card{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: scale-down;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}
/*==================================*/
.dropdown{
  margin-top: 10px;
}

.dropdown select{
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}

#paymentMethods option{
  text-align: start;
  padding: 10px;
}


/*==================================*/
.logo_card:hover{
  transform: scale(1.1);
}

.logo_card img{
 height: 30px;
 width: 30px;
  object-fit: scale-down;
}

.confirm_card_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.logo_card{
  margin-right: 5%;
}

.confirm_button{
  border-radius: 5px;
  border: none;
  background-color: #188d2b;
  transition: all 0.3 ease-in;
}

.confirm_button:disabled{
  background-color: #8d1818;
  color: #777777;
  pointer-events: none;
}

.confirm_button:hover{
  transform: scale(1.1);
}

.confirm_succes{
  background-color: #39a54b;
  height: 100%;
  z-index: 2;
}

@media only screen and (max-width:800px){
  .confirm_check{
    flex-direction: column-reverse;
  }

  .confirm_card{
    width: 90%;
  }

  .confirm_info{
    width: 90%;
  }
}
/* rent END */

/* succes START */
.succes{
  height: 100vh;
  width: 100%;
}

.succes_wrapper{
  height: 100%;
 /*background-color: red;*/
}

.succes_content{
  display: flex;
  justify-content: center;
  align-items: center;
 /* background-color: blue;*/
  height: 80%;
}

.success_card{
  height: 300px;
  width: 250px;
  margin: 10px;
  padding: 20px;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
}

.success_card h3{
  text-align: center;
  color:#1dad35;
}

.success_card h5{
  margin-bottom: 10px;
  text-align: center;
}

.success_card p{
  font-size: small;
  margin-bottom: 10px;
}

.succes_button_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success_card button{
  border-radius: 5px;
  border: none;
  margin: 10px 0;
}

.success_card button:hover{
  transform: scale(1.1);
}

.succes_button_view{
  background-color: #188d2b;
  color: #dfdfdf;
}

.succes_button_home{
  background-color: #202020;
  color: #dfdfdf;
}
/* succes END */

/* preview START */

.preview{
  height: fit-content;
  width: 100%;
  position: relative;
}

.preview_wrapper{
  height: fit-content;
  position: relative;
}

.preview_content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.preview_content h5{
  position: relative;
  margin-top: 20px;
}

.preview_content span{
  color: #1dad35;
}

.previwe_button_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.previwe_button_wrapper button{
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  color: #e4e4e4;
}

.previwe_button_wrapper button:hover{
  transform: scale(1.1);
}

.preview_cancel{
  background-color: #8d1818;
}

.preview_cancel_wrapper{
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  height:99%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.preview_areyousure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 250px;
  padding: 20px;
  height: 200px;
  border-radius: 10px;
}

.preview_areyousure_confirm{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 250px;
  padding: 20px;
  height: 200px;
  border-radius: 10px;
}

.show_flex{
  display: flex;
}

.hide_flex{
  display: none;
}


.preview_areyousure_button_wrapper{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.preview_areyousure h3{
  text-align: center;
}

.preview_areyousure_button_wrapper button{
  width: 50px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  color: #e4e4e4;
}

.preview_areyousure_button_wrapper button:hover{
  transform: scale(1.1);
}

.preview_button_yes{
  background-color: #8d1818;
}

.preview_button_no{
  background-color: #188d2b;
}

.preview_button_confirm{
  background-color: #188d2b;
}

/* preview END */